body{
    background-color: #adadad;
}
.mainCss{
    margin:30px;
}
.bgc_grey1{
    background-color: #efefef;
}
.bgc_write1{
    background-color: #dbdbdb;
}
.publish_button{
    float: right;
    margin: 15px;
}
.buttonFlash :hover{
    background-color: #2e6da4;
}
.headIcon{
    width: 40px;
    height: 40px;
}
.textCount{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}